* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width :100%;
    position: relative;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 700px;
    height: auto;
    margin: 0 auto;
    background: #fefefe;
    padding: 10px;

    li {
        background: #6b6b6b;
        padding: 5px;
    }
}

/* header{
    width :100%;
    max-width : 780px;
    margin: 0 auto;
    padding : 20px;
} */
button {
    position: relative;
}